/* body {
    overflow-y: hidden; 
    overflow-x: hidden; 
  }
 */
prachdr ul {
    display: flex;
}

prachdr ul li {
    font-size: calc(3vw + 3vh);
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0.0rem;
    margin: 0 0.0rem;
    border-radius: 0.0rem;
}

prac ul{
    display: flex;
}

prac ul li a {
    display: block;
    height: calc(12vh);
    font-size: calc(3vw + 3vh);
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0.0rem;
    margin: 0 0.0rem;
    border-radius: 0.0rem;
}

prac ul li a:not(.active):hover{
    background-color: #172554;
}


